html {
    height: 100%;
}

body {
    margin: 0px auto;
    padding-bottom: 25px;

    font-family: sans-serif;
    background: linear-gradient(rgb(170, 169, 169), rgb(0, 0, 0)) no-repeat fixed;



}

.login-box {
    position: absolute;
    top: 0%;
    left: 40%;
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 50px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #FBF1D3, 0 0 25px #FBF1D3, 0 0 50px #FBF1D3, 0 0 100px #FBF1D3;
}

.login-box a span {
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}


/*Header And Footer CSS*/

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.fixed-header,
.fixed-footer {
    width: 100%;
    position: fixed;

    padding: 10px 0;
    color: #fff;
}

.fixed-header {
    top: 0;
    background: rgb(170, 169, 169);
}

.fixed-footer {
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
}

.container {
    width: 90%;
    margin: 0 auto;
    /* Center the DIV horizontally */
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.25% 8%;
    display: inline-block;
    
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0;
    border-radius: 30px;
}

nav a:hover {
    background: #CD0404;
    color: #fff;
    
    box-shadow: 0 0 5px #FF0032, 0 0 25px #FF0032, 0 0 50px #FF0032, 0 0 100px #FF0032;
}


/* My CSS */

#homepage {
    height: 100%;
    background: linear-gradient(#141e30, #243b55);
    font-family: sans-serif;
    color: #fff;
}

#logo {
    margin-left: 45%;
}

.Intro,
.Projects,
.Personal,
.Company,
.Contact {
    color: #fff;
    text-align: center;
}

#stringBox {
    height: 150px;
    width: 20%;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.btn-search,
.accordion {
    color: #fff;
    background: linear-gradient(rgb(170, 169, 169), rgb(0, 0, 0));
    text-decoration: none;
    padding: 7px 70px;
    border: 3px solid black;
    font-family: sans-serif;
    border-radius: 10px;
    font-weight: 500;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0;
    border-radius: 30px;
    
}

.btn-search:hover,
.accordion:hover {
    background: #CD0404;
    color: #fff;
    border: 3px solid #d35f76;
    box-shadow: 0 0 5px #FF0032, 0 0 25px #FF0032, 0 0 50px #FF0032, 0 0 100px #FF0032;
}
.accordion{
    font-size: medium;
}

.index {
    width: 3%;
}

table,
th,
td {
    border: 1px solid black;
}

.Calculator {
    width: 5%;
    height: 60px;
    color:white;
    font-size: x-large;
    margin: 5px 20px 5px 20px;
    background: linear-gradient(rgb(54, 54, 54), rgb(8, 2, 79));
}

.Calculator:hover {
    background: #CD0404;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #FF0032, 0 0 25px #FF0032, 0 0 50px #FF0032, 0 0 100px #FF0032;
    opacity: 0.7;
    cursor: pointer;
}

ul.no-bullets {
    list-style-type: none;
    /* Remove bullets */
    padding: 0;
    /* Remove padding */
    margin: 0;
    /* Remove margins */
}

.submit {
    width: 120px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    color: aqua;
    font-size: large;
}

/* Disable input number arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Accordion */